/* .label-red{
    display: inline-block;
    position: absolute;
    background-color: #eb0037;
    color: white;
    font-size: 15px;
    padding: 2px;
    left: 0;
    bottom: 5%;  
    z-index: 3;
} */
/* .label-green{
    display: inline-block;
    position: absolute;
    background-color: #00875a;
    color: white;
    font-size: 15px;
    padding: 2px;
    left: 15%;
    bottom: 5%; 
    z-index: 3;
} */
.label{
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 15px;
    padding: 2px;
    bottom: 5%; 
    z-index: 2;
}
.left-0{
    left: 0;
}
.left-15{
    left: 13%;
}
.bg-red{
    background-color:#eb0037 ;
}
.bg-green{
    background-color: #00875a;
}
.heart{
    background-color: white;
    position: absolute;
    padding: 5px;
    right: 0px;
    top: 10%;
    z-index: 3;
}
