
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-body{
    width: 80%;
    margin: 0 auto;
}
.contenitore{
    display: inline-block;
    padding: 10px 10px;
}
.container{
    width: 300px;
    height: 400px;
    position: relative;
}
.container-img{
    width: 300px;
    height: 400px;
}
.bg{
    background-size: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.img1b{
    background-image: url("../image/1b.webp");
}
.img2b{
    background-image: url("../image/2b.webp");
}
.img3b{
    background-image: url("../image/3b.webp");
}
.img4b{
    background-image: url("../image/4b.webp");
}
.img5b{
    background-image: url("../image/5b.webp");
}
.img6b{
    background-image: url("../image/6b.webp");
}

.img1{
    background-image: url("../image/1.webp");
}
.img2{
    background-image: url("../image/2.webp");
}
.img3{
    background-image: url("../image/3.webp");
}
.img4{
    background-image: url("../image/4.webp");
}
.img5{
    background-image: url("../image/5.webp");
}
.img6{
    background-image: url("../image/6.webp");
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6{
    z-index: 1;
}
.container:hover .img1b,
.container:hover .img2b,
.container:hover .img3b,
.container:hover .img4b,
.container:hover .img5b,
.container:hover .img6b{
    z-index: 2;
}
