.f-red{
    color: #ff472f;
}
.f-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.f-impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.f-small{
    font-size: 0.8em;
}