*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-size{
    width: 300px;
    height: 400px;
}
.container-body{
    width: 80%;
    margin: 0 auto;
}
.container{
    display: inline-block;
    padding: 10px 10px;
}
.container-img{
    width: 300px;
    height: 400px;
    position: relative;
}
.bg{
    background-size: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}
.img1{
    background-image: url("../image/1b.webp");
}
.img2{
    background-image: url("../image/2b.webp");
}
.img3{
    background-image: url("../image/3b.webp");
}
.img4{
    background-image: url("../image/4b.webp");
}
.img5{
    background-image: url("../image/5b.webp");
}
.img6{
    background-image: url("../image/6b.webp");
}
/* .img-size:hover{
    display: none;
} */
.container:hover .img-size{
    visibility: hidden;
}